.input-wrapp {
    margin-bottom: 20px;

    .input-label {
      display: block;
      text-transform: capitalize;
    }

    .input-control {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      margin: 5px 0;
      border: solid 1px var(--color-grey);
      outline-color: rgba(13, 76, 255, 0.5);
      border-radius: 5px;
    }

    .error {
      font-size: var(--font-small);
      color: var(--color-red);
    }

    &.has-error {
      .input-control {
        border: solid 1px var(--color-red);
      }
    }
  }