.navigation {
  padding: 10px 0;
  border-bottom: var(--border-grey);
  margin-bottom: 20px;

  a {
    color: var(--color-blue);
    margin-right: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .active {
    color: var(--color-black);
  }
}
