:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #d2d2d2;
  --color-red: #ff4242;
  --color-blue: #0d4cff;

  --border-white: solid 1px #fff;
  --border-black: solid 1px #000;
  --border-grey: solid 1px #d3d3d3;

  --font-small: 14px;
  --font-default: 16px;
  --font-large: 18px;
  --font-extra-large: 24px;
}
